// размещаем директиву шрифтов

@font-face {
    font-family: "Cera Pro-Black";
    src: url("../../../assets/font/CeraPro-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Cera Pro-Bold";
    src: url("../../../assets/font/CeraPro-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Cera Pro-Light";
    src: url("../../../assets/font/CeraPro-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Cera Pro-Medium";
    src: url("../../../assets/font/CeraPro-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Cera Pro-Regular";
    src: url("../../../assets/font/CeraPro-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Cera Pro-Thin";
    src: url("../../../assets/font/CeraPro-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Hanging Letters";
    src: url("../../../assets/font/HangingLetters.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}
