// !записываем глобальные переменные проекта

//так записываются переменные

:root {
    // переменная для цвета
    --color-green: #46a358;
    --color-green-opc50: #46a35980;
    --color-green-opc30: #46a35848;
    --color-green-opc20: #46a35833;
    --color-green-opc10: #46a3581a;
    --color-green-opc03: #46a35803;
    --color-green-opc00: #46a35800;

    --color-dark: #3d3d3d;
    --color-light: #ffffff;

    --color-gray-light: #fbfbfb;
    --color-gray-medium: #acacac;
    --color-gray-dark: #727272;

    // переменные для рамок

    --border-bottom: 1px solid var(--color-green-opc10);
    --border-right: 1px solid var(--color-green-opc10);

    // переменные для цвета
    // --shadow: 0 5px 0 0 var(--color-black);
    // переменные для семейства шрифтов
    --font-family-thin: "CeraProThin", sans-serif; //font-weight:100
    --font-family-light: "CeraProLight", sans-serif; //font-weight:300
    --font-family-regular: "CeraProRegular", sans-serif; //font-weight:400
    --font-family-medium: "CeraProMedium", sans-serif; //font-weight:500
    --font-family-bold: "CeraProBold", sans-serif; //font-weight:700
    --font-family-black: "CeraProBlack", sans-serif; //font-weight:900

    --font-family-hanging: "HangingLetters", sans-serif; //font-weight: 400;
    // переменные для ширины класса контейнера и отступа по Х
    --container-width: 1200px;
    --container-padding-x: 120px;
    // переменные для отступа по Y  для секций

    // высота для кнопок и полей ввода
    --input-height: 59px;
    --button-small-height: 35px;
    --button-big-height: 40px;

    --transition-duration: 0.2s;

    // @include desktop {
    //     --section-padding-y: 50px;
    // }

    // @include mobile {
    //     --section-padding-y: 30px;
    // }
}
