.main {
}
.section-main {
    
    display: grid;
    // grid-area: ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 50px;

    padding-top: 26px;
    padding-bottom: 94px;

}
.sidebar-component {
}
.sorting-component {
}
