.cart-table {

  width: 782px;
  border-spacing: 0 10px;

  margin-bottom: 87px;

  &__head {

  }

  &__head-row {

  }

  &__head-cell {
	border-bottom: 1px solid var(--color-green-opc50);
	padding-bottom: 11px;
	text-align: left;
  }

  &__body {
  }


}