.count-product-details {
}
.count-product-details__title {
    margin-bottom: 11px;

    color: var(--color-dark);
    font-family: var(--font-family-medium);
    font-size: 15px;
    line-height: 16px;
}
.count-product-details__list {
    display: flex;
    column-gap: 10px;
    text-decoration: none;
}

.count-product-details__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    border: 1px solid var(--color-gray-light);
    cursor: pointer;

    color: var(--color-gray-dark);
    font-family: var(--font-family-medium);
    font-size: 14px;
    line-height: 16px;
}
.count-product-details__item--active {
    border: 1px solid var(--color-green);
    color: var(--color-green);
    font-family: var(--font-family-bold);
}
