.services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 65px;
    background-color: var(--color-gray-light);

    padding: 25px;
}
.menu-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 65px;
}
// 343
// 269+85
@media (max-width: 1450px) {
    .services {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px;
    }
}
@media (max-width: 1040px) {
    .menu-list {
        overflow-x: scroll;
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-color: var(--color-green-opc50) var(--color-light);
     
    }
}
@media (max-width: 758px) {
}
